*, *::after, *::before{
    
padding: 0; 

margin: 0; 

box-sizing: border-box;
    
    
    
}

body{

    
padding: 0; 

margin: 0; 

box-sizing: border-box;




/* Add in the responsive dimensions here  */

min-height: 100vh;
width: 100vw; 
position: relative; 


/* add in the font family here  */


/* Add in the background color here  */
    
    
}


html{

    scroll-behavior: smooth;
    
    
    
    
}

:root{

/* Add in the color pallette variables here  */


/* Add in the padding and margin variables here  */


/* Add in the sizing variables here  */


/* Add in the timing variables here  */
    
    
}

:root {
    --light: #d0d1d3;
    --dark: #040d14;
    --green: #21ce99;
  }
  
  body {
    font-family: Poppins;
    background: var(--dark);
    line-height: 26px;
    margin: 0;
  }
  
  
  .ContactForm{
    

    
  }


.container{
   
   
   outline: 30px solid lime; 

   
    
}

/* Add in the example CSS here  */

h1 {
    color: var(--green);
  }
  
  .App {
    height: 75vh;
    margin-top: 15vh;
  }
  
  form {
    margin-top: 20px;
    background: var(--dark);
    

    display: grid;
    place-content: center;
    
    
    /* outline: 10px solid lime;  */
    
    
  }
  
  .formRow {
    margin: 10px 0 20px 0;
    
    display: flex;
    flex-direction: row;

    
  }
  
  #name-row{
    
    outline: 10px solid red; 
    
  }
  
  #name-input{
    
    
    
    
  }
  
  
  #subject-row{
    
    display: grid;
    width: 100% !important;
    
  }

    
    
#subject-col{
    
    
}

.row{
    

    
}


#message-row{

display: flex;
justify-items: center !important;
outline: 10px solid red; 
flex: row; 

    
    
}

#text-area-input{

    
    
}


#message-textarea{


    
}

#subject-input{

    /* outline: 20px solid lime;  */
    
}
    

  
  .formInput {
    padding: 15px 10px;
    background-color: var(--dark);
    box-shadow: 0 0 0 2px var(--green);

    width: 35vw; 
    
    border: none;
    color: var(--green);
  }
  
  .form-control{
    
    width: 50vw; 
    
    
  }
  
  
  .col-6{
    
    
    
    
  }
  
  .formInput:focus {
    background-color: var(--dark);
    outline: none;
    box-shadow: 0 0 0 2px var(--green);
    color: var(--light);
  }
  
  .formInput::placeholder {
    color: var(--green);
    opacity: 1;
  }
  
  .formInput:focus::placeholder {
    color: var(--light);
    opacity: 1;
  }
  
  
  
  .errorMessage {
    color: #f45532;
    font-size: 14px;
    margin: 0;
    padding: 0;
  }
  
  #notifyToast {
    color: #fff;
    border-radius: 6px;
    width: 200px;
    
    /* outline: 100px solid red !important;  */
    
    margin-left: 75px;
    background-color: var(--green);
  }
  
  .submit-btn {
    background-color: var(--dark);
    color: var(--green) !important;
    padding: 15px 50px;
    border: 2px solid var(--green);
    border-radius: 10px;
    margin-bottom: 25px;
    width: 72%; 
    border-radius: 10%; 
    
    /* width: 7rem; 
    display: flex;  
    place-items: center; */
    
  }
  
  .submit-btn:hover {
    background-color: var(--green);
    color: var(--dark) !important;
    border: 2px solid var(--green);
  }
  
  .submit-btn:disabled:hover {
    background-color: var(--dark);
    color: var(--green) !important;
    cursor: wait;
  }
  
  @media (max-width: 768px) {
    .submit-message {
      width: 125px;
      margin-left: 200px;
    }
  }
  



/* Add in the main container here  */



/* Add in the sub-containers here  */





 /* Add in the media queries here  */
 
 
 
 /* Add in the container queries here  */
 
 
 
 /* Add in the orientation queries here  */
 
 
 
 /* Add in the Effects here  */
 
 
 
 /* Add in the animations here  */
 
 
 
 