

        *, *::after, *::before{
        padding: 0; 
        margin: 0; 

        }

        html{
        scroll-behavior: smooth;

        }

        body{

        width: 100vw; 
        min-height: 100vh;
        position: relative; 

        box-sizing: border-box;

        padding: 0; 
        margin: 0; 
        }

        :root{
        
        /* Add in the color variables here  */


        /* Add in the sizing variables here  */


        /* Add in the margin variables here  */


        /* Add in the timing variables here  */
            
            
            
        }


        /* Add in the main container here  */
        #modal-open-button{

            z-index: 20000;
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

        }


        #modal{

        background: #1f2231; 
        background-color: #202333 !important;

        width: 100vw; 

        margin: 0 !important; 
        padding: 0 !important; 

        box-sizing: border-box; 

        }

        #modal-overlay{

            
        background-color: #161822 !important; 

            
            
            
        }



        #modal-content{
            

        background-color: #161822 !important; 

        opacity: 1 !important; 


        padding: 0 !important; 
            
            
        }

        #modal-header-container{
        
        font-size: 2.5rem;
        font-weight: 800;    
        
        position: relative; 
        
        background-color: #161822; 
        background: #161822 !important; 
        opacity: 1 !important; 
        z-index: 20000;  
        
            
        }


        #menu-logo{

        font-size: 2.3rem;
        
        color: white; 
        
        /* color: rgb(142, 136, 136);  */

        }
        
        #modal-logo-container{
        
            
        margin-top: 1.25rem; 
        transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);


            
        }

        
        #modal-logo{
            

        margin-left: calc(0.55vw + 0.5rem); 
        
        font-weight: 770; 

        
        font-size: clamp(1.5rem, 1.77vw + 1rem, 2.7rem); 
            
        transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

        
        }




        #close-button-container{

            
            
            
            
        }




        #close-button-relative-container{

            
            
            
            
        }



        /* Add in the extra nav buttons here  */


        #nav-buttons-container{

            

            width: 8rem; 
            transform: translate(44vw, -3.1rem);
            
            
        }


        #nav-buttons-list{

            
        }



        #nav-button-item{

            
        display: inline-block;

            
        }


        #icon-item-container{
            

        margin-right: 2rem; 

            
            
        }

        .first-icon{

            
        }



        #nav-icon{
            

            
        }



        #close-button-icon-container{

            
        }


        #modal-body{


        min-width: 109vw; 

        margin-left: -2.6vw !important; 

        padding: 0 !important; 
        transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
        

        
        }


        #modal-content-container{

            
            
        }



        #modal-list-container{

        margin-left: -4%; 
        background-color: #161822 !important; 
        
        

        }



        #modal-list{


        width: 50vw; 
        margin: 0 auto; 
        
        display: grid;
        place-content: center;
        padding-top: 5%;

        
        
            
        }


        #menu-list-item{

        height: 5.5rem; 
        transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);


            
        }




        #list-item-content{

            font-size: 2.4rem;
            
            font-weight: 680; 
            color: white; 
            
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);


        }




        #menu-content-container{

            
            
        }


        #modal-footer{
            
        }

        #social-media-footer-section{

            margin-top: 0.7rem; 
        }


        #social-media-footer-list{
            margin-left: -7%; 
            
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);


        }



        #social-media-item-footer{
            
        display: inline-block;
        margin-right: 2rem;
        transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

            
        }



        #social-footer-icon-container{
        
        
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

            
        }
        
        
        #footer-icon{
            font-size: 2rem;
            
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

            
        }
        
        
        #modal-close-button{
            
        
        position: absolute; 
        right: 0; 
        top: 0; 
        z-index: 200;   
            
        }
        



        #modal-close-icon-button{

            
        position: relative; 
        margin-right: -3.3rem; 
        z-index: 200; 
        padding: 0; 

        
        margin-bottom: -1rem; 

        font-size: 1.3rem;
        
            
        }



        #close-modal-span{
            
            text-transform: uppercase;
            font-weight: 550;   
            margin-left: 2.3rem;

            
        }
        
        
        #close-btn-container{
            
            display: block;
            width: 8.1rem; 
            height: 3.4rem; 
            display: grid;
            background-color: white;
            border-radius: 10px; 
            align-content: center;
            position: relative; 
            margin-bottom: -2rem; 
            
            
        }
        
        #open-btn-container{
            
        /* margin-top: -0.5rem;  */
        transform: translate(0rem, -1.55rem) !important;
        /* 
        
        style={{display: 'block', 
        width: '8.1rem', 
        height: '3.4rem', display: 'grid', \
        alignContent: 'center', 
        backgroundColor: 'white', borderRadius: '10px'}}
        *//*display: block;
        */width: 8.1rem;
        height: 3.4rem;
        display: grid;
        align-content: center;
        background-color: white;
        
        
        border-radius: 10px;                ;
        -webkit-border-radius: 10px               ;
        -moz-border-radius: 10px               ;
        -ms-border-radius: 10px               ;
        -o-border-radius: 10px               ;
}
        
        #toggle-button{
            
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);


            
        }
        
        #toggle-button-text{
        
        /* 
        
        style={{marginTop: '-1.69rem', 
        transform: 'translate(0rem, 0rem)', position: 'relative', 
        textTransform: 'uppercase', 
        fontWeight: '550', 
        marginLeft: '2.3rem'}}
        */margin-top: -1.69rem !important;
        -webkit-transform: translate(0rem, 0rem) !important  ;
        -moz-transform: translate(0rem, 0rem) !important  ;
        -ms-transform: translate(0rem, 0rem) !important  ;
        -o-transform: translate(0rem, 0rem) !important  ;
        transform: translate(0rem, 0rem) !important  ;
        position: relative;
        font-weight: 550;
        margin-left: 2.3rem;
        transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
        
        
        
        
        #modal-open-button{
        

            
        /* margin-top: 0.5rem !important;  */
        
        transform: translate(0.88rem, 1.8rem) !important;
        /* margin-top: 0.5rem !important; */
        
            
            
        }

        
        #second-toggle-button{
        
            
            display: none;
            color: white; 
            font-size: 2.3rem !important; 
            border-radius: 10px; 
            
            transition: color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);


        }




        /* Add in the media queries here  */

        @media(min-width: 300px){
            #nav-buttons-container{
                
                display: none !important; 
                
                
            }
            
            
        }


        @media(max-width: 430px){
            
            
            /* Add in the modal content here  */
            #modal-body{

            margin-left: -0.2vw !important; 


                
            }
            
            /* Add in the list item here  */

        }


        @media(max-width: 360px){
            

            #modal-body{

                margin-left: -0.1vw !important;

            }
            
        }



        /* Add in the media query here for the extra buttons  */
        @media(min-width: 500px){
            
            /* select the button list here  */
            #nav-buttons-container{
            
            /* display: inline-block !important;  */
            
            
            /* Add in the proper coordinates here  */
            transform: translate(0, 0);
                
                
            }
            
            
            
            
        }
        
        @media(max-width: 949px){
            
            #modal-open-button{
                
                display: none !important;
                
                
                
                
            } 
            
            
            
            
            
        }



        /* Add in the media query here to display the hamburger icon and remove the button */
        
        @media(max-width: 960px){
            
            #second-menu-btn-container{

                
                    
                }
            
            
        }
        
        
        
        
        @media(max-width: 950px){
            
        #modal-open-button{
        
        display: none !important; 
        
            
            
            
        }
        
        
        #second-menu-btn-container{

            

        
        position: relative; 
        

        
            
            
            
        }
        
        
        /* Select the hamburger icon here  */
        
        #second-toggle-button{

            display: inline-block !important;
            font-size: 3.5rem;
            /* margin-bottom: -3.5rem;  */
            margin-top: 0; 
            
            
            margin-left: 0; 
            
        }
        
        #second-menu-btn-container{
            
            

            
            
            
        }
            
            
            
        }
        
        
        
        @media(max-width: 880px){
        
            #second-toggle-button{

                display: inline-block !important;
                font-size: 3.5rem;

                
            }
        
            
            
            
        }
        
        
        
        /* Add in a media query to move the hamburger menu icon further left here  */
        
        @media(max-with: 540px){

            #open-btn-container{
                    
                }
                
                #toggle-button{
                    
                    outline: none !important; 
                    
                }
                
                #second-toggle-button{

                    display: inline-block !important;
                    font-size: 3.5rem;
                    


                    
                    margin-left: 0; 
                    
                }
                
                #modal-open-button{
                
                
                
                transform: translate(0rem, 0rem) !important;
                
                    outline: none !important; 
                    
                    
                }
                
                #second-toggle-button{

                    display: inline-block !important;
                    font-size: 3.5rem;
                    
                    
                    margin-left: 0; 
                    
                }
            
            
        }
        
        @media(max-width: 489px){

            
            
        }
        
        @media(max-width: 525px){
            
            #second-toggle-button{
            
            /* margin-top: -1rem !important; 
            margin-left: -2rem !important;  */
            
            
            }
            
            #second-menu-btn-container{

                

                
                
                
            }
            
            
        }
        
           
        @media(max-width: 710px){
            
            
            
            #second-menu-btn-container{

                margin: 0 !important; 
                padding: 0 !important; 
                transform: translate(0rem, 0rem) !important;

                
                
                
            }
            
            #second-toggle-button{

           
                /* margin-left: -2vw;  */
                
                
            }
            
            
        }
        
        @media(max-width: 600px){
            
            
            
            #second-menu-btn-container{

                margin: 0 !important; 
                padding: 0 !important; 
                transform: translate(0rem, 0rem) !important;
                
                
                
            }
            
            #second-toggle-button{

               margin: 0 !important; 
               padding: 0 !important; 
               transform: translate(0rem, 0rem,) !important; 
                
                
            }
            
            
            
        }
        
        
        
        
        
        @media(max-width: 490px){
            
            #second-menu-btn-container{

            
                
            }
            
            
            #second-toggle-button{

                display: inline-block !important;
                font-size: 3.5rem;
                
            }
            
            
            

        }
        
        
        @media(max-width: 773.5px) and (min-width: 566px){

            /* Select the Modal container button here  */
            #second-menu-btn-container{
                
                margin: 0 !important; 
                padding: 0 !important; 
                transform: translate(4vw,0) !important;

                
                
                
                
            }
            
            /* Move it right  */
            
            
        }
        
        
        @media(max-width: 556.10px) and (min-width: 438.10px) {

             /* Select the Modal container button here  */
            #second-menu-btn-container{
                
                margin: 0 !important; 
                padding: 0 !important; 
                transform: translate(9.5vw,0) !important;
                /* margin-right: -1vw !important;  */
            color: white !important; 

                
                
                
            }
            
            
        }
    
    
    

        
        /* Add in the hover effects here  */
        
        
        #modal-open-button:hover{
            /*color: black !important;
            *//*background: black !important;
            */
            /* -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02) !important ;
            -ms-transform: scale(1.02) !important ;
            -o-transform: scale(1.02) !important ;
            -webkit-transform: scale(1.02) !important ;
            transform: scale(1.02) !important ; */
            color: white !important; 
            
}
        
        
        
        #open-btn-container:hover{
           
            /* -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02) !important ;
            -ms-transform: scale(1.02) !important ;
            -o-transform: scale(1.02) !important ;
            -webkit-transform: scale(1.02) !important ;
            transform: scale(1.02) !important ; */
            /* transform: scale(1.02); */
            color: white !important; 
            
        }
        
        
        
        
        #toggle-button:hover{
        
            /* color: white !important;  */
            /* background: black !important; */
            /* -webkit-transform: scale(1.02);
            -moz-transform: scale(1.02) !important ;
            -ms-transform: scale(1.02) !important ;
            -o-transform: scale(1.02) !important ;
            -webkit-transform: scale(1.02) !important ;
            transform: scale(1.02) !important ; */
            
            color: white !important; 
            
        }
        
        
        
        #toggle-button-text:hover{
        /*color: white !important;
        *//*background: black !important;
        *//*-webkit-transform: scale(1.02);
        -moz-transform: translate(0rem, -0.5rem) !important  ;
        -ms-transform: translate(0rem, -0.5rem) !important  ;
        -o-transform: translate(0rem, -0.5rem) !important  ;
        -webkit-transform: translate(0rem, -0.5rem) !important  ;
        transform: scale(1.02) !important ;
        */color: white !important;
        /* transform: translate(0rem, -0.5rem) !important  ; */
}
        
        
#toggle-button-text{

    margin-top: -1.69rem !important; 
    

}
        
        /* Hover Effects for Hamburger Menu  */
        
        
        #menu-list-item:hover{
        transform: scale(1.05);
        -webkit-transform: scale(1.05);
        -moz-transform: scale(1.05);
        -ms-transform: scale(1.05);
        -o-transform: scale(1.05);
        
        -webkit-transform: translate(0, 3deg) ;
        -moz-transform: translate(0, 3deg) ;
        -ms-transform: translate(0, 3deg) ;
        -o-transform: translate(0, 3deg) ;
        transform: translate(0, 3deg) ;
        
        color: white; 
        
}
        
        
        
        #list-item-content:hover{
            -webkit-transform: translate(0, 3deg) ;
            -moz-transform: translate(0, 3deg) ;
            -ms-transform: translate(0, 3deg) ;
            -o-transform: translate(0, 3deg) ;
            transform: translate(0, 3deg) ;
}
        
        /* #social-media-footer-section:hover{
            
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            
            -webkit-transform: translate(0, 3deg) ;
            -moz-transform: translate(0, 3deg) ;
            -ms-transform: translate(0, 3deg) ;
            -o-transform: translate(0, 3deg) ;
            transform: translate(0, 3deg) ;
            
            color: white; 
            
            
        } */
        
        
        
        /* #social-media-footer-list:hover{

            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            
            -webkit-transform: translate(0, 3deg) ;
            -moz-transform: translate(0, 3deg) ;
            -ms-transform: translate(0, 3deg) ;
            -o-transform: translate(0, 3deg) ;
            transform: translate(0, 3deg) ;
            
            color: white; 
            
        } */
        
        /* #social-media-item-footer:hover{
            
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            
            -webkit-transform: translate(0, 3deg) ;
            -moz-transform: translate(0, 3deg) ;
            -ms-transform: translate(0, 3deg) ;
            -o-transform: translate(0, 3deg) ;
            transform: translate(0, 3deg) ;
            
            color: white; 
            
        } */
        
        
        #social-footer-icon-container:hover{
            
            
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            
            -webkit-transform: translate(0, 3deg) ;
            -moz-transform: translate(0, 3deg) ;
            -ms-transform: translate(0, 3deg) ;
            -o-transform: translate(0, 3deg) ;
            transform: translate(0, 3deg) ;
            
            color: white; 
            
            
        }
        
        
        #footer-icon:hover{
            
            transform: scale(1.05);
            -webkit-transform: scale(1.05);
            -moz-transform: scale(1.05);
            -ms-transform: scale(1.05);
            -o-transform: scale(1.05);
            
            -webkit-transform: translate(0, 3deg) ;
            -moz-transform: translate(0, 3deg) ;
            -ms-transform: translate(0, 3deg) ;
            -o-transform: translate(0, 3deg) ;
            transform: translate(0, 3deg) ;
            
            color: white; 
            
            
        }
        
        #open-btn-container:hover{
            
            background: black !important;
            
            
            
            
            
        }
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        