
*, *::after, *::before{
padding: 0; 
margin: 0; 
box-sizing: border-box;
    
}


html{
scroll-behavior: smooth;
}

body{

padding: 0; 
margin: 0; 

box-sizing: border-box; 

    
}

/* Add in the root container here  */


:root{

/* Add in the root variables here  */

    
    
    
}

/* Add in the main container here  */

#new-nav-container{
    
    
width: 100vw; 

min-height: 6.5rem; 

position: absolute;
top: 0; 
left: 0; 
z-index: 1;

    
}



#new-nav-sub-container{

position: relative; 

min-height: 6.5rem;

    
}


#new-nav-bar{


width: 90vw; 
    
}


#new-nav-bar-content{
    

}


#new-nav-logo-container{

    position: absolute;
    top: 28%; 
    left: 4.55%; 
    font-size: clamp(1.5rem, 1vw + 1rem, 3rem) !important; 
    

    
    
}



#new-nav-logo{

font-weight: 770;
font-size: clamp(2.3rem, 2.2vw + 1rem, 2.69rem);
width: 30vw; 
color: white; 
    
    
}


#new-nav-list{


width: 41vw; 

height: 5.94rem; 

position: absolute; 
right: 2%; 

bottom: -15%; 


transform: translate(0.7rem, 0.5rem) !important;

-webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
-moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
-ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
-o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1); 

/* outline: 20px solid lime;  */


    
}



#new-nav-list-item{
    display: inline-block;
    margin-left: 6rem;
    transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#new-nav-text{


    /* 
    
     style={{marginLeft: '1rem', color: 'white'}} 
    
    */

    display: inline-block; 
    margin-left: 1rem; 
    color: white; 
    

    font-weight: 550;   
    text-transform: uppercase;
    
    font-size: 0.9rem; 
    transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);

}



#new-nav-modal-container{
    
    
}


#new-nav-modal{
    
    
    
    
}

#new-nav-icon{
 color: white;
 display: inline-block;
 font-size: 1.75rem;
 margin-bottom: -0.5em;
 transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}

#new-nav-text{
 /*margin-bottom: -0.5em !important;
 -webkit-transform:;
 -moz-transform:;
 -ms-transform:;
 -o-transform:;
 */transform: translate(0, 0.5em) !important;
 transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -webkit-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -moz-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -ms-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
 -o-transition: background-color 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}





/* Add in the Media queries here  */

@media(max-width: 1400px){

    #new-nav-list{
    
    width: 45vw; 
        
    

    }
    
    
    /* Adjust the list item spacing here  */
    
    #new-nav-list-item{
    
        margin-left: clamp(2rem, 3vw + 2rem, 6rem); 
        
        
    }
    
    
    
}


@media(max-width: 1260px){

    #new-nav-list{
    
    
    width: 35vw; 

        
    }
    
    
    /* Adjust the placement of the logo slightly here  */
    #new-nav-logo-container{
    
    
        
    }
    
    #new-nav-logo{

        
        
        
    }
    
    #new-nav-list-item{
        
        margin-left: clamp(1.5rem, 2.5vw + 1rem, 5rem); 
        
    }
    
    
    #new-nav-text{
    
        display: none !important;
        
        
    }
    
    
    /* Change the Hamburger menu Item button here  */
    
    
    
    
}



/* Add in the other media query to adjust the spacing of the list items further  */

@media(max-width: 1036px){
    
    /* Adjust the List size here  */
    #new-nav-list{
        
        width: 38vw; 
        
        
    }
    
    
    #new-nav-text{
        
        display: none;
        
        
    }
    
    /* Adjust the Item Spacing here  */
    
    
    
    /* Swap out the Hamburger Icon here  */
    
    
    
    
}


/* Add in the media query to make the icon buttons disappear  */
@media(max-width: 1000px){
    
    /* Select the icons here and make them disappear  */
    #new-nav-icon{
    

       /* display: none !important;  */
       
        
        
    }
    
    /* Add in the list here  */
    
    #new-nav-list{
        
        
      width: 32vw; 
      
        
    }
    
    
    /* Add in the list item here  */
    #new-nav-list-item{
    
        margin: 0 auto; 
        margin-left: 2rem; 
        
        
    }
    
    #new-nav-text{

       display: none !important; 
       
        
    }
    
    
    /* Adjust the placement of the logo slightly more here  */
    
    
    #new-nav-logo-container{
    
    
        
        
    }
    
    #new-nav-logo{
        
        
        
        
    }
    
    
    
    
    /* Adjust the list size here  */
    
    
    /* Adjust the hamburger button positioning here  */
    
    
}


/* Add in a media query at 1036px to adjust the stacking issue  */
@media(max-width: 1036px){

    /* Select the list here  */
    
    
    /* Select the list items here  */
    
    
    /* Select the Button here  */
    
    
    
    /* Select the icons here  */
    
    
    
}


@media(max-width: 950px){
    
    /* select the nav icons here and lower them  */
    
    #new-nav-list-item{
        margin-top: 0;
        position: relative;
        -webkit-transform: translate(0rem, 1.6rem) !important;
        -moz-transform: translate(0rem, 1.6rem) !important;
        -ms-transform: translate(0rem, 1.6rem) !important;
        -o-transform: translate(0rem, 1.6rem) !important;
        transform: translate(0rem, 1.6rem) !important;
}


/* Add in the icons here  */
#new-nav-icon{


margin-bottom: 0 !important; 


    
}


    
#new-nav-list{

   /* outline: 20px solid blue;  */
   bottom: -8.8% !important; 
   
    
    
}
    
    
}


@media(max-width: 1000px){

    #new-nav-list{
        
        width: 34vw !important; 

    }

}


@media(max-width: 950px){
    
    #new-nav-logo-container{
        
        
        
    }
    
    
    #new-nav-logo{
        
        
        
        
    }
    #new-nav-list{
        -webkit-transform: translate(0rem, -0.5rem) !important;
        -moz-transform: translate(0rem, -0.5rem) !important;
        -ms-transform: translate(0rem, -0.5rem) !important;
        -o-transform: translate(0rem, -0.5rem) !important;
        transform: translate(0rem, -0.5rem) !important;
}
    
}




/* Add in a media query to make the icons disappear  */
@media(max-width: 774px){

    #new-nav-icon{
    
    display: none !important; 

    }
    
}

@media(max-width: 949px){
    
    #new-nav-logo-container{
        
        
        
    }
    
    
    #new-nav-logo{
        
        
        
        
    }
    #new-nav-list{
        width: 25vw !important;
        -webkit-transform: translate(0rem, -1.6rem);
        -moz-transform: translate(0rem, -1.6rem);
        -ms-transform: translate(0rem, -1.6rem);
        -o-transform: translate(0rem, -1.6rem);
        transform: translate(0rem, -1.6rem);
}
    
}

@media(max-width: 700px){
    
    #new-nav-logo-container{

    transform: translate(0rem 0rem) !important;
    
        
    }
    
    
    #new-nav-logo{
    
        
        
    }
    
}


@media(max-width: 670px){

    #new-nav-list{

        width: 29vw !important; 

    }
    
    #new-nav-logo-container{
        
        width: 40vw; 

        
        
        
        
    }
    
    #new-nav-logo{
        
        width: 40vw; 
        
    }

    
    
    
    
}


@media(max-width:555px){

    
    /* Select the hamburger menu icon here  */
    
    #second-toggle-button{
        
        
    }
    
    #new-nav-logo-container{

    }
    
    
    #new-nav-logo{
        
        /* margin-bottom: -3rem !important;  */
        
        
    }
    
    
    
    
    
    #new-nav-list{
        
        
        
        width: 40vw !important; 
        
        
    }
    
    
    /* Adjust the spacing of the modal here  */
    #new-nav-modal-container{
        
    margin: 0 !important; 
    
        
        
    }
    
    

}

/* Add in the container queries here  */



/* Add in the Orientation queries here  */


/* Add in the preference queries here  */



/* Add in the Effects here  */


.nav-hover:hover ~ #new-nav-icon + #new-nav-text{


    outline: 20px solid red !important;
    
    color: red !important; 

}


.nav-hover:hover * {

    color: red !important; 
    

}

/* Add in the backup hover effects here  */

#new-nav-icon:hover{

color: red !important; 


}


#new-nav-text:hover{
    
    color: red !important; 
    
    
    
}

#nav-hover:hover > * {
    
    color: red !important; 

}
