*, *::after, *::before{

    
padding: 0; 
margin: 0; 

    
    
}


body{

position: relative;
 padding: 0; 
 margin: 0; 
 
    
    
    
}


html{

scroll-behavior: smooth;

    
    
}


:root{
    
/* Add in the root variables here  */
    
    
}


/* Add in the main container here  */

#chakra-theme-provider{

    
    
}




#main-signup-modal{
    

    
    
}


#signup-modal-content{
    
    
    
    
    
}



#modal-signup-title{

color: white; 
margin: 0 auto; 
width: 77%; 
display: flex;
flex-wrap: wrap;
text-align: center;
margin-top: 1rem; 

    
    
}


#signup-modal-close-btn{

color: white !important; 

    
}


#modal-signup-body{



    
}


#modal-signup-text{

    
    
    
    
}


#modal-signup-input-container-section{

    
    
    
    
}




#modal-signup-input-container{
    
    

    
    
}





#modal-signup-input{

    
    
    
    
    
}


#modal-signup-submit-btn-container{


    
    
    
}


#modal-signup-btn{

    
    
}




#signup-modal-footer{


    
}











































