


#textCard{
    transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -moz-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -ms-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    -o-transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
    
    cursor: pointer !important; 
    
    
}


#textCard:hover{ 
    
    transform: translate(0, -0.3rem) !important;
    transform: scale(1.01); 


}
